APP_NAME={{APP_NAME}}
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://{{APP_NAME}}.laravel.cloud

DB_CONNECTION=pgsql
REDIS_CLIENT=phpredis
BROADCAST_CONNECTION=reverb
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
CACHE_STORE=redis
