APP_NAME={{APP_NAME}}
APP_ENV=production
APP_DEBUG=false
APP_URL=https://{{APP_NAME}}.laravel.cloud

LOG_CHANNEL=stderr

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE={{APP_NAME}}
DB_USERNAME=forge
DB_PASSWORD=

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_CLIENT=phpredis

QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
CACHE_STORE=redis

BROADCAST_CONNECTION=reverb
REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="0.0.0.0"
REVERB_PORT=8080
REVERB_SCHEME=https

MAIL_MAILER=log

ARQEL_PANEL_PATH=/admin
